</main>
    <footer>
        <p>Copyright ©️ <%= new Date().getFullYear() %></p>
    </footer>
</body>
</html>

<!-- Notice how the main, body and html tags are closed here.
 They were opened in the header.ejs. Both of them included comprise a single boiler plate->